@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container products-page">
    <h1>Our Products</h1>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="product col-md-4">
                <img src="@product.Image" alt="@product.Name" class="img-responsive" />
                <h2>@product.Name</h2>
                <p>@product.Description</p>
                <p>Price: @product.Price.ToString("C")</p>
                <p>Category: @product.Category</p>
            </div>
        }
